/*  Selectors */
body {
  text-align: center;
  margin: 0;
  font-family: 'MedievalSharp', sans-serif;
}

header {
  background-color: rgba(70, 200, 130, .5);
}

form {
  height: 50px;
}

input {
  border-radius: 10px;
  padding: 5px;
}

button {
  border-radius: 10px;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

/*  Classes */

.header-one {
  font-size: 100px;
  padding: 20px;
}

.header-two {
  font-size: 30px;
}

.green-goblins {
  position: absolute;
  background-image: url(images/goblinsword.png);
  background-position: 50px 0px;
  width: 50px;
  height: 60px;
  transition: top 5s;
  transition-timing-function: linear;

}

.green-goblins.walk {
  background-position: 250px 0px;
}

.green-goblins.walk.slayed {
  background-position: 300px 700px;
}

.health {
  font-size: 50px;
  text-align: left;
  color: white;
  padding: 20px;
}

/*  IDs */
