/*  Selectors */
body {
  text-align: center;
  margin: 0;
  font-family: 'MedievalSharp', sans-serif;
}

header {
  background-color: rgba(70, 200, 130, .5);
}

form {
  height: 50px;
}

input {
  border-radius: 10px;
  padding: 5px;
}

button {
  border-radius: 10px;
}
/*  Classes */

.header-one {
  font-size: 100px;
  padding: 20px;
}

.header-two {
  font-size: 30px;
}

.green-goblins {
  position: absolute;
  background-image: url(images/goblinsword.png);
  background-position: 0px 0px;
  width: 50px;
  height: 60px;
  transition: top 2s;
  transition-timing-function: linear;

}

/* .green-goblins.walk {
  background-position: ;
} */

.health {
  font-size: 50px;
  text-align: left;
  color: white;
  padding: 20px;
}

/*  IDs */
