/*  Selectors */
body {
  text-align: center;
  margin: 0;
  font-family: 'MedievalSharp', sans-serif;
}

header {
  background-color: rgba(70, 200, 130, .5);
}

form {
  height: 50px;
}

input {
  border-radius: 10px;
  padding: 5px;
}

button {
  border-radius: 10px;
}
/*  Classes */

.headerOne {
  font-size: 100px;
  padding: 20px;
}

.headerTwo {
  font-size: 30px;
}
/*  IDs */
